.Forside{
    color: white;
    text-align: start;
    width: 67%;
    margin: 0 auto;
    border-radius: 48px;
    margin-top: 160px;
    margin-bottom: 160px;
}
.Forside span{
    font-size: 80px;
}

.Forside h1{
    font-size: 80px;
    margin-bottom: 10px;
}
.Forside p{
    font-size: 20px;
}